<div class="error-container">
    <h1 class="title">¡ZONA DE SUPERHÉROES: DC & MARVEL!</h1>
    <h2 class="subtitle">Parece que te has perdido en el multiverso</h2>
    
    <div class="navigation-buttons">
        <a routerLink="/auth/login" class="nav-button">
            <span class="button-text">ACCEDER AL PORTAL</span>
        </a>
        
        <a routerLink="/auth/registro" class="nav-button">
            <span class="button-text">UNIRSE A LOS HÉROES</span>
        </a>
        
        <a routerLink="/heroes/listado" class="nav-button">
            <span class="button-text">VER TODOS LOS SUPERHÉROES</span>
        </a>
    </div>
</div>